:root {
  --primary-color: #fc7eaefa;
  --secondary-color: #fdf3f7;
}

/* html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: var(--secondary-color);
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

html {
  width: 100%;
  overflow: hidden;
}

#Body {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  background-color: var(--secondary-color);
} 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  background-color: var(--secondary-color);
} */

/* For sticky footer - grow to fill the space */
.content {
  flex: 1 0 auto;
  position: relative;
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px;
}

.app-header {
  /* Full height */
  width: 100%;
  height: 200px;
  /* Center and scale the image nicely */
  background-image: url("img/mainBanner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-header .container {
  background: var(--primary-color);
  top: 0;
  position: fixed;
}

.app-header .container ul {
  display: flex;
  align-items: center;
  /* justify-content: space-between;  */
}

.app-header .container ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 1rem;
  font-weight: bolder;
}

.sidebar-toggle {
  background: transparent;
  font-size: 1.5rem;
  margin-right: 20px;
  border-color: transparent;
  color: black;
  transition: var(--transition);
  /* animation: bounce 2s ease-in-out infinite; */
}

.app-header .banner {
  width: auto;
  height: 20%;
  margin-bottom: 1rem;
}

.app-header input[type="text"] {
  padding: 7px;
  border: #777;
  width: 300px;
  border-radius: 3px;
}

.sub-header {
  flex-shrink: 0;
  margin-top: 10px;
}

.sub-header ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 0px;
  margin-right: 20px;
}

.sub-header ul li {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.sub-header > ul > li {
  border-left: 1.5px solid rgb(185, 185, 185);
}

.sub-header ul li p {
  margin-top: 3px;
  color: gray;
  font-weight: bold;
  font-size: 0.75rem;
}

.sub-header ul li img {
  display: block;
  height: 20px;
  width: 20px;
  margin: 10px;
}

.search-bar .container {
  /* overflow: hidden; */
  flex-shrink: 0;
  margin-top: 15px;
  /* width: 100%; */
}

.search-bar .container ul {
  display: flex;
  align-items: center;
}

.search-bar .container ul li {
  display: flex;
  flex-direction: column;
  /* align-items: left; */
}

.search-bar input[type="search"] {
  padding: 5px 10px;
  color: rgb(158, 158, 158);
  font-size: 1rem;
  background-color: transparent;
  border: transparent;
  outline: none;
  border-radius: 5px;
}
/* 
  .search-bar input[type=search]:hover{
    background-color: white;
    background: white;
    border: 1px solid#fd83b4fa;
  } */

/* .search-bar input[type=search]:focus{
    color: white;
    border: 1px solid#fd83b4fa;
    outline: var(--primary-color);
    border-color:#fd83b4fa ;
  } */

.search-bar .container ul li .search {
  background-color: transparent;
  border: transparent;
}

.search-bar .container ul li img {
  display: block;
  height: 20px;
  width: 20px;
  margin: 10px;
}

.main-categories {
  flex-shrink: 0;
  margin: 0px 20px;
}

.main-categories ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-categories ul li {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-around; */
}

.main-categories .category-main {
  border-radius: 5px;
  border: 1.5px solid rgb(185, 185, 185);
  background-color: transparent;
  color: black;
  outline: none;
}

.main-categories .category-main ul {
  display: flex;
  flex-direction: row;
  margin: 5px 5px;
}

.main-categories .category-main:focus, .main-categories .category-main:hover {
  background-color: var(--primary-color);
}

.main-categories .category-main ul li {
  padding: 3px;
}

.main-categories ul li img {
  display: block;
  height: 25px;
  width: 25px;
}

.sub-categories .subcategory-list {
  flex-shrink: 0;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sub-categories .subcategory-list::-webkit-scrollbar {
  display: none;
}

.sub-categories .subcategory-list ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-categories .subcategory-list ul li {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  font-size: 0.9rem;
}

.sub-categories .subcategory-list ul li:first-child {
  color: var(--primary-color);
}

.sub-categories .h-line {
  margin: 15px;
  border-bottom: 1.5px solid rgb(185, 185, 185);
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  /* overflow: hidden; */
  top: 50px;
  width: 100%;
}

.display-items {
  margin-bottom: 70px;
  height: 55vh;
  position: absolute;
  /* top: 100px; */
  overflow-y: scroll;
  width: 100%;
}

.subcategoryWithItems {
  margin-bottom: 80px;
}

.display-items .subcategory-title {
  font-size: 1.2rem;
  margin: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  /* margin-bottom: 80px; */
  margin-left: 10px;
  margin-right: 10px;
}

.grid .item {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-bottom: 2px solid gray;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 1px 1px 4px #ccc;
}

.grid .item h4 {
  border-left: 2px solid black;
  margin-bottom: 7px;
  font-weight: normal;
  font-size: 1rem;
  padding-left: 15px;
}

.grid .item p {
  font-size: 0.9rem;
  color: gray;
  font-weight: normal;
}

.grid .item ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* align-self: center; */
}

.grid .item ul li {
  display: flex;
  flex-direction: column;
}

.grid .item > ul > li > ul > li {
  padding-right: 7px;
}

.grid .item .item-details{
  align-items: flex-start;
}

.grid .item .item-details ul {
  padding-left: 15px;
}

.grid .item .img-mini {
  width: 15px;
  height: 15px;
  filter: invert(46%) sepia(80%) saturate(698%) hue-rotate(76deg)
    brightness(97%) contrast(95%);
}

.grid .item .image-main {
  width: 90px;
  height: 65px;
  display: block;
  align-self: left;
}

.grid .item .add-cart {
  width: 15px;
  height: 15px;
  display: block;
  align-self: right;
  filter: invert(79%) sepia(17%) saturate(5972%) hue-rotate(293deg) brightness(99%) contrast(100%);
}

.grid .item .addToCart {
  border-radius: 50%;
  padding: 7px;
  color: var(--primary-color);
  background-color: transparent;
  border: none;
  box-shadow: 2px 2px 15px var(--primary-color);
}

.app-footer {
  flex-shrink: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  color: #444;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 50px;
  /* overflow: hidden; */
  box-shadow: 3px 3px 10px #888888;
}

.app-footer ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.app-footer ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .app-footer ul li i {
	font-size: 22px;
} */
.app-footer ul li img {
  display: block;
  height: 30px;
  width: 30px;
}

/* Splash */
/* #splash {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--primary-color);
  height: 100vh;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 1s;
}

#splash img {
  width: 300px;
}

#splash.fade {
  opacity: 0;
} */

/* Desktop */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid .item img {
    width: 60px;
  }
}
